{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div class=" container border margin30">
            <form class="container" action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <h3 id="newpost_index">New Post</h3>
                <textarea class="form-control margin30" rows="3" id="index_textarea" name="newpost" ></textarea>
                <button type="submit" class="btn btn-primary" id="button_submit_index">Post</button>
            </form>
        </div>
    {% else %}
        <h3 id="Signin_index_info_post">Sign in to create new post.</h3>
    {% endif %}

    {% for p in page_obj %}
    <div class=" container border listing_posts listing_posts_js listing_posts_{{p.id}}" >
        <a href="{% url 'user_profile' user_id=p.user.id %}"><h6>{{p.user}}</h6></a>
        <br>
        <p class="listing_posts_text_{{p.id}}" >{{p.text}}</p>
        <p class="listing_posts_datetime">{{p.date_time}}</p>
        <div class="d-flex justify-content-start heart_likes" >
            <input type="image" src="https://cdn.pixabay.com/photo/2016/08/29/13/55/heart-1628313_1280.png" alt="Heart" class="image_like_heart" value="{{p.id}}" data-path="{% url 'likes_change_API_views' %}">
            <p class="likes_count_{{p.id}}">{{p.likes.all.count}}</p>
        </div>
        {% if user.id == p.user_id %}
            <button type="button" class="btn btn-link post_edit_button" value="{{p.id}}">Edit post</button>
        {% endif %}
    </div>

    <div class=" container border listing_posts listing_posts_edit_js listing_posts_edit_{{p.id}}">
        <h6>{{username}}</h6>
        <p class="listing_posts_datetime">Created: {{p.date_time}}</p>
        <br>
        <textarea class="form-control container edit_post_textarea_{{p.id}}" rows="3" name="newpost_text" >{{p.text}}</textarea>
        {% if user.id == p.user_id %}
            <button type="button" class="btn btn-link post_edit_save_button" value="{{p.id}}" data-path="{% url 'edit_post' post_id=p.id %}">Save</button>
        {% endif %}
    </div>
        
    <div class="alert alert-info container listing_posts_edit_Message_All listing_posts_edit_Message{{p.id}}" role="alert"></div>
    
    {% endfor %}

    <div class="changing_page" >
        <nav aria-label="Page navigation example">
            <ul class="pagination container">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}